<!DOCTYPE html>
<html lang="br">
<head>
  <title>Banco Itaú | File Transfer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <style>
    body{
        color: white;
        font-weight: bold;
        background-image: url("/static/img/wallpaper01.jpg");
        background-attachment: fixed;
        background-position: center;
        position: relative;
    }
  </style>
</head>
<body>
<div class="container mt-4">
  <form action="submit", method="POST">{% csrf_token %}
    <div class="row" style="margin-left:35%; margin-top:10%">
        <div class="col-4">
            <h2 class="text-center"><strong>File Transfer</strong></h2>
          <div class="form-group">
            <label for="username">Usuário:</label>
            <input type="username" class="form-control" id="username" placeholder="Usuário ou E-mail" name="username" size="10">
          </div>
          <div class="form-group">
            <label for="pwd">Senha:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Senha" name="password">
          </div>
                  {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-danger">{{ message }}</div>
                      {% endfor %}

                  {% endif %}
          <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
